langchain
langgraph~=0.3.20
langsmith~=0.3.19
langchain_openai
openai~=1.68.2

huggingface-hub~=0.29.3
cffi~=1.17.1
typing~=3.10.0.0
typing_extensions~=4.12.2
numpy~=2.2.4
tqdm~=4.67.1
yaml~=0.2.5
pyyaml~=6.0.2
typer~=0.15.2
requests~=2.32.3
gitpython~=3.1.44
pydantic~=2.10.6
annotated-types~=0.7.0
absl-py~=2.2.1
wandb~=0.19.8
psutil~=7.0.0
langchain-openai~=0.3.10
llama-cpp-python~=0.3.8